body{
    font-family:"Montserrat";
}
h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
h2 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
h3 {
    font-family: "Montserrat";
    font-weight: bold;
}
p {
    color: #8f8f8f;
}
#title{
    
    color:#fff;
    background-color:#ff4c68;
}
.container-fluid{
    padding:3% 15% 5%;
}

.dwld{
    margin:5% 3% 5% 0%;
}

/* Navigation Bar  */
.navbar{
    padding: 0 0 2.5rem  ;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
      font-size:1.2rem;
};

/* donload buttons  */
.btn{
    margin:15% 3% 5% 0;
}
/* title image  */
.titleimage{
    width:60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* icon bar  */
#features{
    position: relative;
    background-color: #fff;
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding:5%;
}

.icon{
    color:#ef1872;
    margin-bottom:1rem;
}
.icon:hover{
    color:#ff4c68;
}

/* testimonials */
#testimonials{
    background-color: #ff4c68;
    text-align: center;
    
    color:#fff;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
}
#press{
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 3%;
}
.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding:100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

@media(max-width:1028px)
{
    #title{
        text-align: center;
    }
    .titleimage{
        position:static;
        transform: rotate(0);
    }
    .asdf{
        margin-bottom:25px;
    }
}

#cta{
    background-color: #ff4c68;
    color:#fff;
    text-align: center;
    padding:7% 15%;

}
.cta-heading{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* footer  */
#footer{
    padding:7% 15%;
    text-align: center;
}
.socico{
    margin:10px 20px;
}